[Package]
name = "Core Framework"
description = "An extensible event management system for Neverwinter Nights"
author = "Squatting Monk <squattingmonk@gmail.com>"
url = "https://github.com/squattingmonk/nwn-core-framework"

[Sources]
include = "module/**/*"
include = "scripts/**/*.{nss,json}"
flags = "-e"

[Rules]
#Resources (non-.nss)
"*.are" = "module/are"
"*.dlg" = "module/dlg"
"*.fac" = "module/fac"
"*.gic" = "module/gic"
"*.git" = "module/git"
"*.ifo" = "module/ifo"
"*.itp" = "module/itp"
"*.jrl" = "module/jrl"
"*.ndb" = "module/ndb"
"*.utc" = "module/utc"
"*.utd" = "module/utd"
"*.ute" = "module/ute"
"*.uti" = "module/uti"
"*.utm" = "module/utm"
"*.utp" = "module/utp"
"*.uts" = "module/uts"
"*.utt" = "module/utt"
"*.utw" = "module/utw"

#Scripts

# ----- DMFI
"nwnx*.nss"          = "scripts/nwnx"

# ----- DMFI
"dmfi_*.nss"          = "scripts/dmfi"

# ----- MDRN
"mdrn_*.nss"          = "scripts/mdrn"
"_demo_*.nss"         = "scripts/mdrn"
"_mdrn_*.nss"         = "scripts/mdrn"
"align_*.nss"         = "scripts/mdrn"
"abort_align.nss"     = "scripts/mdrn"
"d20_*.nss"           = "scripts/mdrn"
"demostore.nss"       = "scripts/mdrn"
"g_*.nss"             = "scripts/mdrn"
"dg_*.nss"            = "scripts/mdrn"
"inc_d20.nss"         = "scripts/mdrn"

# ----- The Last Jedi Specific
"tljr_*.nss" = "scripts/tljr"

# ---- Dye System
"dye_*.nss" = "scripts/dyesystem"

# ---- Emote System Maybe Unneeded
"emo_*.nss" = "scripts/emotesystem"

# ---- FKY System
"fky_*.nss" = "scripts/fky"

# ---- Holo System
"holo_*.nss" = "scripts/holosystem"

# ---- NWN Bioware Override
"nw_*.nss" = "scripts/biowareovr"
"x1_*.nss" = "scripts/biowareovr"
"x0_*.nss" = "scripts/biowareovr"
"x2_*.nss" = "scripts/biowareovr"
"x3_*.nss" = "scripts/biowareovr"
"zep_*.nss" = "scripts/biowareovr"

# ---- Pugs Scripts
"pug_*.nss" = "scripts/pgscript"

# ---- QX Scripts
"qx_*.nss" = "scripts/qxscripts"

# ---- Jedi System
"jedi_*.nss" = "scripts/jedisystem"

# ---- kpb Bank System
"kpb_*.nss" = "scripts/kpbbanksystem"

# ---- Gy System
"gy_*.nss" = "scripts/gy"

# ---- Body Tailor
"btlr_*.nss" = "scripts/bodytailor"
"tlr_*.nss"     = "scripts/bodytailor"

# ---- Sly Music
"sly_*.nss" = "scripts/slymusic"

# ---- zzdlg
"zzdlg_*.nss" = "scripts/zzdlg"

# ---- Event System
"ai_*.nss" = "scripts/EventSystem/AI Behaviors"
"es_cc_*.nss" = "scripts/EventSystem/Components/Core"
"es_srv_*.nss" = "scripts/EventSystem/Components/Services"
"es_s_*.nss" = "scripts/EventSystem/Components/Subsystems"
"es_inc_*.nss" ="scripts/EventSystem/Core"

#Everything else
"*" = "scripts/misc"


#The Last Jedi
[Target]
name = "tljr" 
description = "The Last Jedi"
file = "The Last Jedi.mod"

[Target]
name = "tljritems"
description = "White Wolf Custom Items ERF"
file = "tljr_items.erf"
include = "src/module/uti/*"
